<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="餛飩訂購.Properties.Settings.蝦仁餛飩ConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\蝦仁餛飩.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="餛飩訂購.Properties.Settings.F__102期_期中作業_蝦仁餛飩ConnectionString"
            connectionString="Data Source=.;Initial Catalog=F:\102期-期中作業\餛飩訂購\餛飩訂購\蝦仁餛飩.MDF;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="餛飩訂購.Properties.Settings._102期中作業ConnectionString"
            connectionString="Data Source=CR4-10;Initial Catalog=102期中作業;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
 
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  
</configuration>